# package src/pkg archives, downloaded sources
*.tar*
*.tgz
*.zip
*.xz

# signed sources
*.asc
*.sig
*.sign

# subfolders, e.g. source or built package trees, vcs
*/**/

# backup files
*~
*.bak
*.swp

# patches and diffs
*/**.diff
*/**.patch
# don't ignore specific patches
!linux-gc/0000-sphinx-workaround.patch
!vim-youcompleteme-git/rls.patch
!vim-youcompleteme-git/omnisharp.patch