# package src/pkg archives, downloaded sources
*.tar*
*.tgz
*.zip
*.xz

# signed sources
*.asc
*.sig
*.sign

# subfolders, e.g. source or built package trees, vcs
*/**/
# subfolders, e.g. source or built package trees, vcs
!*/.git-crypt

# backup files
*~
*.bak
*.swp

# patches and diffs
*/**.diff
*/**.patch

# logs from building in chroot
*/**.log

!corefreq*/*.patch
