pkgbase = st
	pkgdesc = Simple virtual terminal emulator for X
	pkgver = 0.8.2.r12.gf1546cf
	pkgrel = 1
	url = http://st.suckless.org/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = ncurses
	makedepends = libxext
	makedepends = git
	depends = libxft
	provides = st
	conflicts = st
	options = zipman
	source = git+https://git.suckless.org/st
	source = config.h
	source = https://st.suckless.org/patches/scrollback/st-scrollback-20190331-21367a0.diff
	source = https://st.suckless.org/patches/scrollback/st-scrollback-mouse-0.8.diff
	source = https://st.suckless.org/patches/scrollback/st-scrollback-mouse-altscreen-20190131-e23acb9.diff
	source = st-dracula-0.8.2.diff
	sha256sums = SKIP
	sha256sums = 33ce9225f4f71b70bfa735a128f4a1fdcef12d920917e7341204efeb69e3142b
	sha256sums = f974bc0e11bda909a6d6d529d28abde4c97e651107b6a6047f2fab8837010b43
	sha256sums = 3fb38940cc3bad3f9cd1e2a0796ebd0e48950a07860ecf8523a5afd0cd1b5a44
	sha256sums = 13e1c6ba66bd3cfa6666e75b1991c10bc5c24db024a743efe9eef9710b32721e
	sha256sums = fb0b87a6ea9ba5611cc2e0014aedc6260858e442192de415cd1715729d31aba7

pkgname = st

