pkgbase = st-git
	pkgdesc = Simple virtual terminal emulator for X
	pkgver = 0.7.38.g0ac685f
	pkgrel = 1
	epoch = 1
	url = http://st.suckless.org/
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = ncurses
	makedepends = libxext
	makedepends = git
	depends = libxft
	provides = st
	conflicts = st
	options = zipman
	source = git://git.suckless.org/st
	source = config.h
	source = https://st.suckless.org/patches/scrollback/st-scrollback-20170329-149c0d3.diff
	source = https://st.suckless.org/patches/scrollback/st-scrollback-mouse-20170427-5a10aca.diff
	source = https://st.suckless.org/patches/scrollback/st-scrollback-mouse-altscreen-20170427-5a10aca.diff
	source = https://st.suckless.org/patches/delkey/st-delkey-20160727-308bfbf.diff
	source = https://st.suckless.org/patches/dracula/st-dracula-20170803-7f99032.diff
	sha1sums = SKIP
	sha1sums = SKIP
	sha1sums = 6a41683a04375f192d014cead227c749c595a721
	sha1sums = 81b4a93c7bbf6854ec60630a5f7f50268a106a4b
	sha1sums = b181427a52dea0f1b5635cf51263a016d4d27cdf
	sha1sums = 1b3a6708a3644414fa26f07db8b2e1bb719f0381
	sha1sums = f263e7d8a490355caad6514a8e053b89cba52145

pkgname = st-git

